/problema1/estudiante/nbproject/private/
/problema2/Instituto/nbproject/private/
/problema3/Automotor/nbproject/private/
/problema4/Financiera/nbproject/private/
/problema1/estudiante/build/
/problema2/Instituto/build/
/problema3/Automotor/build/
/problema4/Financiera/build/
